<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Administración de comprobantes y ordenes de pago</title>
<link rel="stylesheet" href="/css/tameme.css" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
	
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>

</head>
<body>
	<div class="ui segments">
		<div th:replace="user/menu :: menu">
		</div>	
	</div>

	<script src="/js/tameme.js"></script>
</body>
</html>